<h3 class="text-dark mb-4">Blog</h3>
{{#each data.data}}
<div class="row mb-5">
    <div class="col">
        <h4>{{name}}</h4>
        <div class="mb-3">by Super User in 
            <a href="#" 
            class="blog-link-2" 
            onclick="getBlogs('blogs/categories/{{category.id}}')">
            Blog. {{category.name}}</a> 
            on {{date}} Hits: 208 
            <a 
                href="#" 
                class="blog-link-2" 
                onclick="getBlogDetail('{{id}}')">
                Comments ({{comments.length}})</a>
        </div>
        <div class="text-justify">
            <img class="image-rounded float-left mr-3" src="{{thumbpath}}" alt="">
            <div>
                {{summary}}
            </div>
            <a 
                href="#" 
                onclick="getBlogDetail('{{id}}')" 
                class="readmore mt-3" 
                style="display: block;">Read more</a>
        </div>
    </div>
</div>
{{/each}}

<div id="blogs-pagination">

</div>