<h3 class="text-dark mb-4">Blog</h3>
<scr{{!}}ipt type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f631587ff92a41c"></scr{{!}}ipt>
{{#each data}}
<div class="row mb-3">
    <div class="col">
        <h4>{{name}}</h4>
        <div class="mb-3">by {{author}} in <a href="#" class="blog-link-2">Blog. {{category.name}}</a> on {{date}} Hits: 208 <a href="#" class="blog-link-2">Comments ({{comments.length}})</a></div>
        <div class="text-justify">
            <img src="{{thumbpath}}" class="image-rounded float-left mr-3 mb-3" alt="">
            {{{description}}}

            <div class="mr-5" style="display: inline-block;">
                <a href="https://plus.google.com/share?url=http://web1-1988215.herokuapp.com/" target="_blank"
                    title="Google Plus"><i class="fa fa-google-plus google-plus-btn"></i></a>
            </div>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div style="display: inline-block;" class="addthis_inline_share_toolbox"></div>
        </div>
    </div>
    
</div>
<div class="row mt-5">
    <div class="col">
        <form method="POST" id="frm-comment" onsubmit="event.preventDefault(); addComment()" data-blog-id={{id}}>
            <h5 class="pb-2">Leave your comments</h5>
            <h5>Post comment as a guest</h5>
            <div class="mb-2">
                <div class="comment_input_wrapper mr-3">
                    <label for="comment_name">Name (Required):</label><br />
                    <input class="inset-shadow-input w-100" type="text" name="name" id="name"
                        placeholder="Your Name" required>
                </div>
                <div class="comment_input_wrapper">
                    <label for="comment_email">Email (Required):</label><br />
                    <input class="inset-shadow-input w-100" type="email" name="email" id="email"
                        placeholder="Your Email" required>
                </div>
            </div>
            <textarea name="comment" id="comment" required></textarea>
            <scr{{!}}ipt>
                CKEDITOR.replace('comment');
            </scr{{!}}ipt>
            <div class="row mt-3">
                <div class="col-md-5">
                    <input type="checkbox" name="agree" id="agree" value="false" required>
                    Agree to <sub><a href="#" class="term_and_cond_link">terms and conditions</a></sub>
                </div>
                <div class="col-md-7 text-right">
                    <button class="comment-submit-btn" type="submit">Submit comment</button>
                </div>
            </div>
        </form>

        <div class="comment_container mt-4">
            <div class="comment_counter">
                COMMENTS ({{comments.length}})
            </div>
            <div class="comment_contain container" id="comments">
                {{#each comments}}
                <div class="comment">
                    <div class="comment-info">
                        by {{name}} <span class="comment-datetime">{{date}}</span>
                    </div>
                    <div class="text-justify comment-content">
                        {{summary}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{/each}}